body {
  background-color: #4c4177;
  font-family: Helvetica; 
  line-height: 1.5;
}

tr td, h1, h2 {
  text-align: center;
}




table {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

h2 {
  color: #74f2ce;
}


.mono {
  font-family: monospace;
}

table, th {
  border: 2px solid #74f2ce;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f6f0c4;
}

tr:nth-child(odd) {
  background-color: #b8c6db;
  }

td {
  border: 1px solid black;
  height: 70px;
}


th {
  background-color: #0cbaba;
  text-transform: uppercase;
}


 nav ul a {
  text-decoration: none;
  list-style: none;
}

ul a li {
display: inline;
margin-right: 10px;
color: blue;
}

nav {
  position: fixed;
  background-color: #5de6de;
  opacity: 0.8;
}


a.top {
  color: #fce043;
}


.width {
  width: 100px; 
}


